    body {
        background-color: lemonchiffon;
        color: #ccc266;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    div {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
        margin-bottom: 100px;
        font-size: medium;
        border-bottom: solid 2px #ccc266;
    }
